:root {
  --transition-duration: 0.25s;
  --transition-duration-lg: 0.5s
}

/* Fade transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--transition-duration) ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Standard smooth transition for lists */
.list-move,
.list-enter-active,
.list-leave-active {
  transition: all var(--transition-duration-lg) ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.list-leave-active {
  position: absolute;
}

/* Height animation */
.height-animated {
  display: grid;
  grid-template-rows: 0px;
  transition: grid-template-rows var(--transition-duration);
}

.height-animated > *:first-child {
  overflow: auto;
}

.height-animated.height-animated-active {
  grid-template-rows: 200px;
}
